@import url(https://fonts.googleapis.com/css?family=Lato:900);
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #24282f; }

canvas {
  position: absolute;
  top: 0;
  left: 0; }

#canvas-number {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=doomsday-clock.css.map */
