
.envelope-inner-front, .envelope-inner-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 2rem solid map_get($palette, 'secondary');
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.envelope-inner-front {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.envelope-inner-back {
  z-index: 10;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.envelope-content {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid darken(map_get($palette, 'secondary'), 15%);
  border-top-left-radius: 67px;
  border-bottom-right-radius: 67px;
}

.envelope {
  position: relative;
  width: 148px * 3;
  height: 210px * 3;
  min-height: 210px * 3;
  background: map_get($palette, 'secondary');
  border: 1px solid darken(map_get($palette, 'secondary'), 15%);
  cursor: pointer;
  //border: 1px solid black;
  //overflow: hidden;
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
  &.flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    .decoration-top-right {
      //z-index: 0;
      opacity: 0;
    }
    .decoration-bottom-left {
      //z-index: 10;
      opacity: 0;
    }
  }

  &.map {
    width: 100%;
    height: 100%;
    .envelope-content {
      padding: 0;
    }
  }
}

.decoration-bottom-left {
  position: absolute;
  width: 608px * 0.3;
  height: 810px * 0.3;
  bottom: 0;
  left: 0;
  overflow: hidden;
  > img {
    width: 100%;
    height: 100%;
    animation: slideInBottomLeft ease-in forwards map_get($animations, 'flowers') 1;
    -webkit-transform: translate(-100%, 100%) scale(0.6);
    -moz-transform: translate(-100%, 100%) scale(0.6);
    -ms-transform: translate(-100%, 100%) scale(0.6);
    -o-transform: translate(-100%, 100%) scale(0.6);
    transform: translate(-100%, 100%) scale(0.6);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.decoration-top-right {
  position: absolute;
  width: 606px * 0.3;
  height: 952px * 0.3;
  top: 0;
  right: 0;
  overflow: hidden;
  > img {
    width: 100%;
    height: 100%;
    animation: slideInTopRight ease-in forwards map_get($animations, 'flowers') 1;
    -webkit-transform: translate(100%, -100%) scale(0.6);
    -moz-transform: translate(100%, -100%) scale(0.6);
    -ms-transform: translate(100%, -100%) scale(0.6);
    -o-transform: translate(100%, -100%) scale(0.6);
    transform: translate(100%, -100%) scale(0.6);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.decoration-bottom {
  position: absolute;
  width: 500px * 0.5;
  height: 256px * 0.5;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(180deg);
  -moz-transform: translate(-50%, 0%) rotate(180deg);
  -ms-transform: translate(-50%, 0%) rotate(180deg);
  -o-transform: translate(-50%, 0%) rotate(180deg);
  transform: translate(-50%, 0%) rotate(180deg);
}

.wedding-names {
  position: relative;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  &:before {
    font-family: Helvetica;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '&';
    font-weight: 700;
    font-size: 13rem;
    color: darken(map_get($palette, 'secondary'), 5%);
    opacity: 0;
    -webkit-animation: fadeIn ease-in forwards map_get($animations, 'amp') 1 map_get($animations, 'flowers') + map_get($animations, 'date');
    -o-animation: fadeIn ease-in forwards map_get($animations, 'amp') 1 map_get($animations, 'flowers') + map_get($animations, 'date');
    animation: fadeIn ease-in forwards map_get($animations, 'amp') 1 map_get($animations, 'flowers') + map_get($animations, 'date');
  }
}

.wedding-date {
  font-size: 2rem;
  opacity: 0;
  -webkit-animation: slideInTop ease-in forwards map_get($animations, 'date') 1 map_get($animations, 'flowers');
  -o-animation: slideInTop ease-in forwards map_get($animations, 'date') 1 map_get($animations, 'flowers');
  animation: slideInTop ease-in forwards map_get($animations, 'date') 1 map_get($animations, 'flowers');
}

.wedding-day {
  font-size: 1.5rem;
  animation: slideInTop ease-in forwards 0.5s 1;
}

.husband {
  opacity: 0;
  -webkit-animation: slideInRight ease-in forwards map_get($animations, 'names') 1 map_get($animations, 'flowers') + map_get($animations, 'date');
  -o-animation: slideInRight ease-in forwards map_get($animations, 'names') 1 map_get($animations, 'flowers') + map_get($animations, 'date');
  animation: slideInRight ease-in forwards map_get($animations, 'names') 1 map_get($animations, 'flowers') + map_get($animations, 'date');
}

.wife {
  opacity: 0;
  -webkit-animation: slideInLeft ease-in forwards map_get($animations, 'names') 1 map_get($animations, 'flowers') + map_get($animations, 'date');
  -o-animation: slideInLeft ease-in forwards map_get($animations, 'names') 1 map_get($animations, 'flowers') + map_get($animations, 'date');
  animation: slideInLeft ease-in forwards map_get($animations, 'names') 1 map_get($animations, 'flowers') + map_get($animations, 'date');
}

.participants {
  margin-bottom: 1.5rem;
}

.invitation-message {
  margin-bottom: 1rem;
}

.color-palette {
  display: flex;
  margin-bottom: 1rem;
  .color-circle {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: 0 1rem 1rem 1rem;
    &.beige {
      border: 1px solid darken(map_get($palette, 'primary'), 15%);
      background: map_get($palette, 'primary');
    }
    &.emerald {
      border: 1px solid darken(map_get($palette, 'secondary'), 15%);
      background: map_get($palette, 'secondary');
    }
  }
}