.glitch {
  color: white;
  font-size: 2rem;
  position: relative;
  transition: 0.3s ease-in-out; }
  .glitch-finish {
    transition: 0.3s ease-in-out;
    font-size: 2rem; }

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  animation: noise-anim 2s infinite linear alternate-reverse; }

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse; }

@keyframes noise-anim {
  0% {
    clip-path: inset(79% 0 15% 0); }
  5% {
    clip-path: inset(71% 0 12% 0); }
  10% {
    clip-path: inset(78% 0 20% 0); }
  15% {
    clip-path: inset(84% 0 16% 0); }
  20% {
    clip-path: inset(99% 0 1% 0); }
  25% {
    clip-path: inset(64% 0 13% 0); }
  30% {
    clip-path: inset(89% 0 1% 0); }
  35% {
    clip-path: inset(66% 0 22% 0); }
  40% {
    clip-path: inset(38% 0 24% 0); }
  45% {
    clip-path: inset(84% 0 12% 0); }
  50% {
    clip-path: inset(92% 0 2% 0); }
  55% {
    clip-path: inset(76% 0 6% 0); }
  60% {
    clip-path: inset(94% 0 4% 0); }
  65% {
    clip-path: inset(82% 0 10% 0); }
  70% {
    clip-path: inset(73% 0 12% 0); }
  75% {
    clip-path: inset(82% 0 17% 0); }
  80% {
    clip-path: inset(48% 0 33% 0); }
  85% {
    clip-path: inset(79% 0 10% 0); }
  90% {
    clip-path: inset(2% 0 35% 0); }
  95% {
    clip-path: inset(26% 0 15% 0); }
  100% {
    clip-path: inset(59% 0 33% 0); } }
@keyframes noise-anim-2 {
  0% {
    clip-path: inset(19% 0 42% 0); }
  5% {
    clip-path: inset(88% 0 6% 0); }
  10% {
    clip-path: inset(1% 0 32% 0); }
  15% {
    clip-path: inset(21% 0 66% 0); }
  20% {
    clip-path: inset(88% 0 8% 0); }
  25% {
    clip-path: inset(43% 0 6% 0); }
  30% {
    clip-path: inset(10% 0 32% 0); }
  35% {
    clip-path: inset(70% 0 29% 0); }
  40% {
    clip-path: inset(70% 0 22% 0); }
  45% {
    clip-path: inset(81% 0 7% 0); }
  50% {
    clip-path: inset(81% 0 15% 0); }
  55% {
    clip-path: inset(51% 0 12% 0); }
  60% {
    clip-path: inset(45% 0 1% 0); }
  65% {
    clip-path: inset(57% 0 23% 0); }
  70% {
    clip-path: inset(75% 0 15% 0); }
  75% {
    clip-path: inset(76% 0 24% 0); }
  80% {
    clip-path: inset(57% 0 28% 0); }
  85% {
    clip-path: inset(80% 0 3% 0); }
  90% {
    clip-path: inset(75% 0 14% 0); }
  95% {
    clip-path: inset(74% 0 19% 0); }
  100% {
    clip-path: inset(46% 0 14% 0); } }

/*# sourceMappingURL=glitch.css.map */
