.glitch {
  color: white;
  font-size: 2rem;
  position: relative;
  transition: 0.3s ease-in-out; }
  .glitch-finish {
    transition: 0.3s ease-in-out;
    font-size: 2rem; }

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  animation: noise-anim 2s infinite linear alternate-reverse; }

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse; }

@keyframes noise-anim {
  0% {
    clip-path: inset(82% 0 8% 0); }
  5% {
    clip-path: inset(62% 0 12% 0); }
  10% {
    clip-path: inset(51% 0 39% 0); }
  15% {
    clip-path: inset(89% 0 8% 0); }
  20% {
    clip-path: inset(25% 0 66% 0); }
  25% {
    clip-path: inset(54% 0 9% 0); }
  30% {
    clip-path: inset(9% 0 37% 0); }
  35% {
    clip-path: inset(65% 0 9% 0); }
  40% {
    clip-path: inset(89% 0 12% 0); }
  45% {
    clip-path: inset(75% 0 12% 0); }
  50% {
    clip-path: inset(100% 0 1% 0); }
  55% {
    clip-path: inset(48% 0 37% 0); }
  60% {
    clip-path: inset(57% 0 33% 0); }
  65% {
    clip-path: inset(92% 0 1% 0); }
  70% {
    clip-path: inset(62% 0 38% 0); }
  75% {
    clip-path: inset(69% 0 1% 0); }
  80% {
    clip-path: inset(1% 0 56% 0); }
  85% {
    clip-path: inset(16% 0 85% 0); }
  90% {
    clip-path: inset(7% 0 71% 0); }
  95% {
    clip-path: inset(32% 0 43% 0); }
  100% {
    clip-path: inset(55% 0 25% 0); } }
@keyframes noise-anim-2 {
  0% {
    clip-path: inset(63% 0 12% 0); }
  5% {
    clip-path: inset(94% 0 5% 0); }
  10% {
    clip-path: inset(85% 0 7% 0); }
  15% {
    clip-path: inset(25% 0 6% 0); }
  20% {
    clip-path: inset(6% 0 69% 0); }
  25% {
    clip-path: inset(27% 0 35% 0); }
  30% {
    clip-path: inset(98% 0 1% 0); }
  35% {
    clip-path: inset(93% 0 1% 0); }
  40% {
    clip-path: inset(24% 0 8% 0); }
  45% {
    clip-path: inset(91% 0 9% 0); }
  50% {
    clip-path: inset(93% 0 5% 0); }
  55% {
    clip-path: inset(6% 0 83% 0); }
  60% {
    clip-path: inset(87% 0 9% 0); }
  65% {
    clip-path: inset(71% 0 10% 0); }
  70% {
    clip-path: inset(57% 0 37% 0); }
  75% {
    clip-path: inset(69% 0 29% 0); }
  80% {
    clip-path: inset(46% 0 49% 0); }
  85% {
    clip-path: inset(46% 0 27% 0); }
  90% {
    clip-path: inset(10% 0 46% 0); }
  95% {
    clip-path: inset(73% 0 2% 0); }
  100% {
    clip-path: inset(64% 0 2% 0); } }
* {
  box-sizing: border-box;
  font-family: 'Marck Script', cursive; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(90deg, #50c878 0%, #a3dfaa 45%, #a3dfaa 55%, #50c878 100%);
  min-height: 568px; }

.hidden {
  display: none !important; }

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 900px; }
  .wrapper.error {
    background: blue; }
    .wrapper.error .decoration-bottom-left {
      filter: invert(1); }
    .wrapper.error .decoration-top-right {
      filter: invert(1); }
    .wrapper.error .invitation-message {
      filter: blur(4px); }
    .wrapper.error .post-scriptum {
      display: none; }

.transparent {
  opacity: 0;
  display: none; }

.post-scriptum {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.3s ease-in-out; }
  .post-scriptum .post-scriptum-thanks {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    transition: 0.3s ease-in-out; }
  .post-scriptum .post-scriptum-no-thanks {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    transition: 0.3s ease-in-out; }

.toggleButton {
  cursor: pointer;
  display: block;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transition: transform .14s ease; }
  .toggleButton:active {
    transform: rotateX(30deg); }
  .toggleButton input {
    display: none; }
    .toggleButton input + div {
      border: 3px solid rgba(175, 55, 135, 0.2);
      border-radius: 50%;
      position: relative;
      width: 44px;
      height: 44px; }
      .toggleButton input + div svg {
        fill: none;
        stroke-width: 3.6;
        stroke: #af3787;
        stroke-linecap: round;
        stroke-linejoin: round;
        width: 44px;
        height: 44px;
        display: block;
        position: absolute;
        left: -3px;
        top: -3px;
        right: -3px;
        bottom: -3px;
        z-index: 1;
        stroke-dashoffset: 124.6;
        stroke-dasharray: 0 162.6 133 29.6;
        transition: all .4s ease 0s; }
      .toggleButton input + div:before, .toggleButton input + div:after {
        content: '';
        width: 3px;
        height: 16px;
        background: #af3787;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 5px; }
      .toggleButton input + div:before {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
        animation: bounceInBefore .3s linear forwards .3s; }
      .toggleButton input + div:after {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
        animation: bounceInAfter .3s linear forwards .3s; }
    .toggleButton input:checked + div {
      border: 3px solid rgba(80, 200, 120, 0.2); }
      .toggleButton input:checked + div svg {
        stroke: #50c878;
        stroke-dashoffset: 162.6;
        stroke-dasharray: 0 162.6 28 134.6;
        transition: all .4s ease .2s; }
      .toggleButton input:checked + div:before {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
        animation: bounceInBeforeDont .3s linear forwards 0s; }
      .toggleButton input:checked + div:after {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
        animation: bounceInAfterDont .3s linear forwards 0s; }

@keyframes bounceInBefore {
  0% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg); }
  50% {
    opacity: 0.9;
    transform: scale(1.1) translate(-50%, -50%) rotate(45deg); }
  80% {
    opacity: 1;
    transform: scale(0.89) translate(-50%, -50%) rotate(45deg); }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(45deg); } }
@keyframes bounceInAfter {
  0% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg); }
  50% {
    opacity: 0.9;
    transform: scale(1.1) translate(-50%, -50%) rotate(-45deg); }
  80% {
    opacity: 1;
    transform: scale(0.89) translate(-50%, -50%) rotate(-45deg); }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(-45deg); } }
@keyframes bounceInBeforeDont {
  0% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(45deg); }
  100% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg); } }
@keyframes bounceInAfterDont {
  0% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(-45deg); }
  100% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg); } }
.envelope-inner-front, .envelope-inner-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 2rem solid beige;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px; }

.envelope-inner-front {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.envelope-inner-back {
  z-index: 10;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.envelope-content {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid #e4e4a1;
  border-top-left-radius: 67px;
  border-bottom-right-radius: 67px; }

.envelope {
  position: relative;
  width: 444px;
  height: 630px;
  min-height: 630px;
  background: beige;
  border: 1px solid #e4e4a1;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out; }
  .envelope.flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
    .envelope.flip .decoration-top-right {
      opacity: 0; }
    .envelope.flip .decoration-bottom-left {
      opacity: 0; }
  .envelope.map {
    width: 100%;
    height: 100%; }
    .envelope.map .envelope-content {
      padding: 0; }

.decoration-bottom-left {
  position: absolute;
  width: 182.4px;
  height: 243px;
  bottom: 0;
  left: 0;
  overflow: hidden; }
  .decoration-bottom-left > img {
    width: 100%;
    height: 100%;
    animation: slideInBottomLeft ease-in forwards 0.7s 1;
    -webkit-transform: translate(-100%, 100%) scale(0.6);
    -moz-transform: translate(-100%, 100%) scale(0.6);
    -ms-transform: translate(-100%, 100%) scale(0.6);
    -o-transform: translate(-100%, 100%) scale(0.6);
    transform: translate(-100%, 100%) scale(0.6);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden; }

.decoration-top-right {
  position: absolute;
  width: 181.8px;
  height: 285.6px;
  top: 0;
  right: 0;
  overflow: hidden; }
  .decoration-top-right > img {
    width: 100%;
    height: 100%;
    animation: slideInTopRight ease-in forwards 0.7s 1;
    -webkit-transform: translate(100%, -100%) scale(0.6);
    -moz-transform: translate(100%, -100%) scale(0.6);
    -ms-transform: translate(100%, -100%) scale(0.6);
    -o-transform: translate(100%, -100%) scale(0.6);
    transform: translate(100%, -100%) scale(0.6);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.decoration-bottom {
  position: absolute;
  width: 250px;
  height: 128px;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(180deg);
  -moz-transform: translate(-50%, 0%) rotate(180deg);
  -ms-transform: translate(-50%, 0%) rotate(180deg);
  -o-transform: translate(-50%, 0%) rotate(180deg);
  transform: translate(-50%, 0%) rotate(180deg); }

.wedding-names {
  position: relative;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }
  .wedding-names:before {
    font-family: Helvetica;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '&';
    font-weight: 700;
    font-size: 13rem;
    color: #efefc8;
    opacity: 0;
    -webkit-animation: fadeIn ease-in forwards 0.7s 1 1s;
    -o-animation: fadeIn ease-in forwards 0.7s 1 1s;
    animation: fadeIn ease-in forwards 0.7s 1 1s; }

.wedding-date {
  font-size: 2rem;
  opacity: 0;
  -webkit-animation: slideInTop ease-in forwards 0.3s 1 0.7s;
  -o-animation: slideInTop ease-in forwards 0.3s 1 0.7s;
  animation: slideInTop ease-in forwards 0.3s 1 0.7s; }

.wedding-day {
  font-size: 1.5rem;
  animation: slideInTop ease-in forwards 0.5s 1; }

.husband {
  opacity: 0;
  -webkit-animation: slideInRight ease-in forwards 0.3s 1 1s;
  -o-animation: slideInRight ease-in forwards 0.3s 1 1s;
  animation: slideInRight ease-in forwards 0.3s 1 1s; }

.wife {
  opacity: 0;
  -webkit-animation: slideInLeft ease-in forwards 0.3s 1 1s;
  -o-animation: slideInLeft ease-in forwards 0.3s 1 1s;
  animation: slideInLeft ease-in forwards 0.3s 1 1s; }

.participants {
  margin-bottom: 1.5rem; }

.invitation-message {
  margin-bottom: 1rem; }

.color-palette {
  display: flex;
  margin-bottom: 1rem; }
  .color-palette .color-circle {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: 0 1rem 1rem 1rem; }
    .color-palette .color-circle.beige {
      border: 1px solid #319b54;
      background: #50c878; }
    .color-palette .color-circle.emerald {
      border: 1px solid #e4e4a1;
      background: beige; }

@media screen and (max-width: 740px) {
  html {
    font-size: 16px; }

  .envelope {
    width: 100%;
    height: 100%; }

  .decoration-top-right {
    width: 121.2px;
    height: 190.4px; }

  .decoration-bottom-left {
    width: 121.6px;
    height: 162px; }

  .envelope-inner-front, .envelope-inner-back {
    border: 1rem solid beige; }

  .post-scriptum .post-scriptum-thanks {
    font-size: 1.25rem !important;
    margin-left: 0.25rem !important;
    transition: 0.3s ease-in-out; }
  .post-scriptum .post-scriptum-no-thanks {
    font-size: 1.25rem !important;
    margin-left: 0.25rem !important;
    transition: 0.3s ease-in-out; }

  .wedding-names {
    font-size: 2rem; }

  .invitation-message {
    margin-bottom: 0.5rem; } }
@media screen and (max-height: 630px) {
  html {
    font-size: 16px; }

  .envelope {
    width: 100%;
    height: 100%; }

  .decoration-top-right {
    width: 121.2px;
    height: 190.4px; }

  .decoration-bottom-left {
    width: 121.6px;
    height: 162px; }

  .envelope-inner-front, .envelope-inner-back {
    border: 1rem solid beige; }

  .post-scriptum .post-scriptum-thanks {
    font-size: 1.25rem !important;
    margin-left: 0.25rem !important;
    transition: 0.3s ease-in-out; }
  .post-scriptum .post-scriptum-no-thanks {
    font-size: 1.25rem !important;
    margin-left: 0.25rem !important;
    transition: 0.3s ease-in-out; }

  .wedding-names {
    font-size: 2rem; }

  .invitation-message {
    margin-bottom: 0.5rem; } }
@keyframes slideInRight {
  from {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0; }
  70% {
    opacity: 0; }
  to {
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
    transform: translateX(-20%);
    opacity: 1; } }
@keyframes slideInLeft {
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0; }
  70% {
    opacity: 0; }
  to {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 1; } }
@keyframes slideInTop {
  from {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1; } }
@keyframes slideInBottomLeft {
  0% {
    transform: translate(-100%, 100%) scale(0.6);
    opacity: 0; }
  100% {
    transform: translate(0%, 0%) scale(1);
    opacity: 1; } }
@keyframes slideInTopRight {
  0% {
    transform: translate(100%, -100%) scale(0.6);
    opacity: 0; }
  100% {
    transform: translate(0%, 0%) scale(1);
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
