@import "glitch";

* {
  box-sizing: border-box;
  //font-family: 'Caveat', cursive;
  //font-family: 'Amatic SC', cursive;
  //font-family: 'Bad Script', cursive;
  font-family: 'Marck Script', cursive;
}

$animations: (
        "flowers": 0.7s,
        "names": 0.3s,
        "date": 0.3s,
        "amp": 0.7s,
);

$palette: (
        "primary": rgb(80, 200, 120),
        "secondary": rgb(245, 245, 220),
);

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  //background: map_get($palette, 'primary');
  background: linear-gradient(90deg, map_get($palette, 'primary') 0%, rgb(163, 223, 170) 45%, rgb(163, 223, 170) 55%, map_get($palette, 'primary') 100%);
  min-height: 568px;
}

.hidden {
  display: none !important;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 900px;

  &.error {
    background: blue;
    .decoration-bottom-left {
      filter: invert(1);
    }
    .decoration-top-right {
      filter: invert(1);
    }
    .invitation-message {
      filter: blur(4px);
    }
    .post-scriptum {
      display: none;
    }
  }
}

@import "checkbox";
@import "envelope";
@import "media";
@import "keyframes";
