
@media screen and (max-width: 148px * 5) {

  html {
    font-size: 16px;
  }

  .envelope {
    width: 100%;
    height: 100%;
  }

  .decoration-top-right {
    width: 606px * 0.2;
    height: 952px * 0.2;
  }

  .decoration-bottom-left {
    width: 608px * 0.2;
    height: 810px * 0.2;
  }

  .envelope-inner-front, .envelope-inner-back {
    border: 1rem solid map_get($palette, 'secondary');
  }

  .post-scriptum {
    .post-scriptum-thanks {
      font-size: 1.25rem !important;
      margin-left: 0.25rem !important;
      transition: 0.3s ease-in-out;
    }

    .post-scriptum-no-thanks {
      font-size: 1.25rem !important;
      margin-left: 0.25rem !important;
      transition: 0.3s ease-in-out;
    }
  }

  .wedding-names {
    font-size: 2rem;
  }

  .invitation-message {
    margin-bottom: 0.5rem;
  }

}

@media screen and (max-height: 210px * 3) {

  html {
    font-size: 16px;
  }

  .envelope {
    width: 100%;
    height: 100%;
  }

  .decoration-top-right {
    width: 606px * 0.2;
    height: 952px * 0.2;
  }

  .decoration-bottom-left {
    width: 608px * 0.2;
    height: 810px * 0.2;
  }
  .envelope-inner-front, .envelope-inner-back {
    border: 1rem solid map_get($palette, 'secondary');
  }

  .post-scriptum {
    .post-scriptum-thanks {
      font-size: 1.25rem !important;
      margin-left: 0.25rem !important;
      transition: 0.3s ease-in-out;
    }

    .post-scriptum-no-thanks {
      font-size: 1.25rem !important;
      margin-left: 0.25rem !important;
      transition: 0.3s ease-in-out;
    }
  }

  .wedding-names {
    font-size: 2rem;
  }

  .invitation-message {
    margin-bottom: 0.5rem;
  }

}
