@media screen and (max-width: 740px) {
  .envelope {
    width: 100%;
    height: 100%; } }
@media screen and (max-height: 630px) {
  .envelope {
    width: 100%;
    height: 100%; } }
@media screen and (max-width: 740px) {
  html {
    font-size: 10px; }

  .envelope {
    width: 100%;
    height: 100%; }

  .decoration-top-right {
    width: 121.2px;
    height: 190.4px; }

  .decoration-bottom-left {
    width: 121.6px;
    height: 162px; } }
@media screen and (max-height: 630px) {
  .envelope {
    width: 100%;
    height: 100%; }

  .decoration-top-right {
    width: 121.2px;
    height: 190.4px; }

  .decoration-bottom-left {
    width: 121.6px;
    height: 162px; } }

/*# sourceMappingURL=media.css.map */
